@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  src: url('Arvo-Regular.ttf');
}

@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  src: url('Arvo-Bold.ttf');
}

@font-face {
  font-family: Arvo;
  font-style: italic;
  font-weight: normal;
  src: url('Arvo-Italic.ttf');
}

@font-face {
  font-family: Arvo;
  font-style: italic;
  font-weight: bold;
  src: url('Arvo-BoldItalic.ttf');
}

body {
  font-family: Arvo;
  font-weight: normal;
}

/* This defines styles and classes used in the book */
body {
  font-size: small;
  margin: 5%;
  text-align: justify;
}

code {
  font-family: monospace;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

h4 {
  text-align: left;
}

h5 {
  text-align: left;
}

h6 {
  text-align: left;
}

h1.title {
}

h2.author {
}

h3.date {
}

ol.toc {
  margin-left: 1em;
  padding: 0;
}

ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.footnote-ref {
  vertical-align: super;
}

em,
em em em,
em em em em em {
  font-style: italic;
}

em em,
em em em em {
  font-style: normal;
}
